@use "variables" as *;

.checklist {
  padding: 120px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 80px 0;
  }

  .section__header-left {
    max-width: 1280px;
  }
}

.checklist__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 120px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }
}

.checklist__column {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.checklist__item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    .checklist__checkmark {
      border-color: $primary-blue;
    }
  }
}

.checklist__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.checklist__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checklist__checkmark {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border: 2px solid $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  background-color: transparent;
  border: 2px solid #bebaba;

  .checklist__check-icon {
    opacity: 0;
    transition: opacity 0.2s ease;
    display: block;
  }
}

.checklist__checkbox:checked + .checklist__checkmark {
  background-color: $primary-blue;
  border-color: $primary-blue;

  .checklist__check-icon {
    opacity: 1;
  }
}

.checklist__title {
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $primary-blue;
  padding-left: 25px;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 24px;
    line-height: 26px;
    padding-left: 0;
    margin-bottom: 7px;
  }
}

.checklist__description {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  padding-left: 32px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}
