@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  color: $text-dark;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 16px;
  }
}

p {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

[href*="tel:"] {
  text-decoration: none;
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}
