@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  color: $text-dark;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 16px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 10px;
  }

  &--catalog {
    max-width: 1515px;
  }
}

p {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 25px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

[href*="tel:"] {
  text-decoration: none;
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
}

.mobile-only {
  display: none !important;
}

@media (max-width: $breakpoint-mobile) {
  .desctop-only {
    display: none !important;
  }

  .mobile-only {
    display: flex !important;
  }
}

.catalog-description {
  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 25px;
  }

  li {
    position: relative;
    &::before {
      content: '•';
      display: inline-block;
      position: absolute;
      left: -15px;
      
      border-radius: 50%;
    }
  }
}
