@use "variables" as *;

.consultation {
  background: #fafafa url("../assets/images/form-bg.png") no-repeat center;
  background-size: cover;
  padding: 64px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
    background-position: center 20%;
    background-size: inherit;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.consultation__content {
  display: grid;
  grid-template-columns: 713px minmax(300px, 918px);
  grid-template: auto auto / minmax(300px, 713px) minmax(300px, 918px);
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 40px;
  gap: 10px 20px;

  @media (max-width: calc($container-max-width - 60px)) {
    padding-right: 0px;
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $breakpoint-lg) {
    grid-template: auto auto auto / 1fr;
    gap: 30px;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.consultation__left {
  color: $text-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  margin-top: 38px;

  @media screen and (max-width: $breakpoint-lg) {
    margin-top: 0;
  }

  @media (max-width: $breakpoint-mobile) {
    gap: 25px;
  }
}

.consultation__title {
  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
    line-height: 32px;
  }
}

.consultation__text {
  margin-bottom: 0px;

  @media (max-width: $breakpoint-mobile) {
  }
}

.consultation__contacts {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.consultation__icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $white;

  @media screen and (max-width: $breakpoint-lg) {
    width: 44px;
    height: 44px;

    img {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.consultation__phone {
  font-size: 36px;
  line-height: 22px;
  color: $text-dark;
  text-decoration: underline;

  @media (max-width: $breakpoint-tablet) {
    font-size: 28px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
  }
}

.consultation__phone:hover {
  text-decoration: none;
}

.consultation__right {
  background: $white;
  border-radius: 30px;
  padding: 40px;
  grid-area: 1 / 2 / 3 / 3;

  @media (max-width: $breakpoint-tablet) {
    padding: 32px;
  }

  @media screen and (max-width: $breakpoint-lg) {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0;
    border-radius: 0;
    background: none;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.consultation__form-content {
  .form-checkbox {
    margin-top: 17px;
  }
}

.consultation__form-title {
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 25px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.form-group {
  margin-bottom: 20px;
  position: relative;

  @media (max-width: $breakpoint-mobile) {
  }
}

.form-input {
  font-family: $font-family;
  width: 100%;
  padding: 20px 26px;
  padding-left: 58px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  background: #fafafa;
  height: 65px;

  @media screen and (max-width: $breakpoint-lg) {
    background-color: #fff;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.form-input::placeholder {
  color: $text-dark;
  font-family: $font-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.form-group__icon {
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: $breakpoint-mobile) {
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: $text-dark;
  cursor: pointer;
  line-height: 130%;
  user-select: none;

  @media (max-width: $breakpoint-mobile) {
    font-size: 12px;
  }
}

.form-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  background: $white;
  background-color: $white;

  @media (max-width: $breakpoint-mobile) {
    width: 14px;
    height: 14px;
  }
}

.form-checkbox input:focus {
  outline: 2px solid $primary-blue;
  // outline-offset: 2px;
  background: $white;
  background-color: $white;
  box-shadow: 0 0 0 2px $primary-blue;
}

.form-checkbox input:checked {
  background: $white url("../assets/icons/check.svg") no-repeat center;
  background-size: 14px;
}

.consultation__submit {
  width: 100%;
}
