@use 'variables' as *;

.examples {
  padding: 120px 0;
  background: $white;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  
  @media (max-width: $breakpoint-mobile) {
  }
}

.examples__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 40px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.examples__title {
  margin-bottom: 46px;

  
  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media screen and (max-width: $breakpoint-lg) {
    margin-bottom: 0;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
  }
}

.examples__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-dark;
  text-decoration: none;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.examples__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 9px;
  
  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.examples__item {
  width: 100%;
  height: 680px;
  overflow: hidden;
  
  @media (max-width: $breakpoint-tablet) {
    height: 400px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    height: 300px;
  }
}

.examples__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
