@use "variables" as *;

.footer {
  background: #2b2b2b;
  color: $white;
  padding: 80px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.footer__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 136px;
  padding-left: 20px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: auto;
    gap: 30px;
    padding-left: 0px;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 20px;
  padding-right: 55px;

  @media (max-width: calc($container-max-width - 60px)) {
    padding-right: 0px;
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 30px;
    order: 2;
  }

  .footer__column:nth-child(1) { 

    @media (max-width: $breakpoint-mobile) {
      order: 2;
    }
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column:nth-child(1) {
  min-width: 125px;

  @media (max-width: $breakpoint-tablet) {
    min-width: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    order: 1;
    padding-left: 10px;
  }
}

.footer__column:nth-child(2) {
  min-width: 180px;

  @media (max-width: $breakpoint-tablet) {
    min-width: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    order: 3;
    padding-left: 10px;
  }
}

.footer__column:nth-child(3) {
  min-width: 146px;

  @media (max-width: $breakpoint-tablet) {
    min-width: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    order: 4;
    padding-left: 10px;
  }
}

.footer__column:nth-child(4) {
  min-width: 220px;

  @media (max-width: $breakpoint-tablet) {
    min-width: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    order: 1;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
}

.footer__logo {
  @media (max-width: $breakpoint-tablet) {
  }

  @media (max-width: $breakpoint-mobile) {
    text-align: center;

    img {
      width: 180px;
    }
  }
}

.footer__title {
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 26px;
  line-height: 28.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__menu a {
  color: $white;
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.5px;
  text-decoration: none;
}

.footer__menu a:hover {
  text-decoration: underline;
}

.footer__address {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint-mobile) {
 padding-left: 10px;
 padding-right: 10px;
  }
}

.footer__phone {
  font-size: 36px;
  line-height: 100%;
  color: $white;
  text-decoration: underline;
  display: block;
  margin-bottom: 20px;
}

.footer__phone:hover {
  text-decoration: none;
}

.footer__socials {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 12px;

  @media screen and (max-width: $breakpoint-mobile) {
    justify-content: center;
  }
}

.footer__social {
  @media (max-width: $breakpoint-mobile) {
    width: 62px;
    height: 62px;

    img {
      width: 100%;
    }
  }
}
