@use "variables" as *;

// Общий герой для внутренних страниц (О компании, Цены и т.п.)
.page-hero {
  margin-top: 40px;
  background-image: url("../assets/images/price-bg.png");
  position: relative;
  background-size: cover;
  background-position: center bottom;
  color: $white;
  display: flex;
  align-items: center;
  min-height: 600px;
  
  @media (max-width: $breakpoint-tablet) {
    margin-top: 0;
  }
}

.page-hero__content {
  position: relative;
  max-width: 1024px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

.page-hero__title {
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 62px;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
    line-height: 40px;
  }
}

.page-hero__text {
  max-width: 882px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 60px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 25px;
  }
}


.section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 20px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 30px;
  }
}

.section__more {
  max-width: 780px;
  display: flex;
  align-items: center;
  gap: 15px 20px;

  @media (max-width: $breakpoint-mobile) {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.section__title {
  margin-bottom: 40px;
  @media (max-width: $breakpoint-tablet) {
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 0;
  }
}

.section__subtitle {
  color: $text-dark;
  margin-bottom: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}

.section__link {
  margin-top: 35px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}
