@use "variables" as *;

.page .page-content {
  max-width: 1600px;
  margin: 120px auto 0;

  @media screen and (max-width: calc($container-max-width - 60px)) {
    padding: 0 20px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    margin: 60px auto 0;
    padding: 0;
  }
}
.page .page-title {
  font-family: $font-family-heading;
  font-weight: 400;
  font-size: 46px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }
}
.page .page-description {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #313131;
  margin-bottom: 40px;

  ul,
  ol {
    margin-left: 40px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 22px;
  }
}

.page .steps__grid {
  gap: 25px 20px;
}
.page .step-card {
  min-height: 440px;
}

.services.services--info {
  padding-bottom: 120px;

  @media screen and (max-width: $breakpoint-tablet) {
    padding-bottom: 60px;
  }
}

.page__content {
  padding-top: 60px;

  h1 {
    font-family: $font-family-heading;
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 30px;
      margin-top: 0;
    }
  }

  .products {
    padding-top: 0;
  }
}

.services--info {
  .services__grid {
    gap: 20px;
  }

  .service-card--blue {
    background: linear-gradient(118.08deg, #2f9eee 33.71%, #8cc8ff 96.25%);
    border-radius: 30px;
  }
}
