@use "variables" as *;

.page {
  .services {
    // padding-top: 60px;
  }

  .services__header {
    margin-bottom: 40px;
  }

  .steps__grid {
    gap: 25px 20px;
  }
  .step-card {
    min-height: 440px;
  }
}

.page__content {
  padding-top: 60px;

  h1 {
    font-family: $font-family-heading;
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 30px;
      margin-top: 0;
    }
  }

  .products {
    padding-top: 0;
  }
}

.services--info {
  .services__grid {
    gap: 20px;
  }

  .service-card--blue {
    background: linear-gradient(118.08deg, #2f9eee 33.71%, #8cc8ff 96.25%);
    border-radius: 30px;
  }
}
