@use 'variables' as *;

.products {
  padding: 60px 0 120px;
  background: $white;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  
  @media (max-width: $breakpoint-mobile) {
    padding: 30px 0 60px;
  }
}

.products__title {
  margin-bottom: 40px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card__image {
  background: #D9D9D9;
  border-radius: 30px;
  height: 360px;
  margin-bottom: 40px;
  
  @media (max-width: $breakpoint-mobile) {
    height: inherit;
    border-radius: 30px;
    margin-bottom: 15px;
    aspect-ratio: 1 / 1;
  }
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  
  @media (max-width: $breakpoint-mobile) {
    border-radius: 16px;
  }
}

.product-card__title {
  margin-bottom: 20px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 28px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}

.product-card__description {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $text-dark;
  margin-bottom: 20px;
  max-width: 510px;
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}

.product-card__button {
  align-self: flex-start;
  
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}
