@use 'variables' as *;

.reviews {
  padding: 120px 0;
  background: #fafafa;
  
  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
  }
  
  @media (max-width: $breakpoint-mobile) {
  }
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 40px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 30px;
  }
}

.reviews__title {
  margin-bottom: 46px;
  
  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media screen and (max-width: $breakpoint-lg) {
    margin-bottom: 0;
  }
  
  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
  }
}

.reviews__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-dark;
  text-decoration: none;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.reviews__item {
  background: #D9D9D9;
  border-radius: 30px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (max-width: $breakpoint-tablet) {
    height: 350px;
  }
  
  @media (max-width: $breakpoint-mobile) {
    height: 225px;
    border-radius: 30px;
  }
}

.reviews__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  
  @media (max-width: $breakpoint-mobile) {
    border-radius: 30px;
  }
}
