@use "variables" as *;

.services {
  padding: 120px 0 60px;
  background: $white;

  @media (max-width: $breakpoint-tablet) {
    padding: 60px 0;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 30px;
  }
}

.services__title {
  margin-bottom: 46px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }

  @media screen and (max-width: $breakpoint-lg) {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
  }
}

.services__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-dark;
  text-decoration: none;
  font-size: 14px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.service-card {
  border-radius: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  min-height: 370px;
  justify-content: center;
  gap: 30px;

  @media (max-width: 1440px) {
    padding: 30px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
    min-height: 260px;
    border-radius: 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 40px 10px;
    min-height: auto;
    border-radius: 0;
    gap: 20px;
  }
}

.service-card--blue {
  background: $primary-blue;
  color: $white;
}

.service-card--gray {
  background: #f5f5f5;
  color: $text-dark;
}

.service-card__title {
  line-height: 40px;

  @media (max-width: $breakpoint-tablet) {
  }

  @media (max-width: $breakpoint-mobile) {
    line-height: 30px;
  }
}

.service-card__description {
  padding-right: 45px;
  font-size: 18px;
  margin-bottom: 0;

  @media (max-width: $breakpoint-tablet) {
    font-size: 16px;
    padding-right: 0;
  }

  @media (max-width: $breakpoint-mobile) {
  }
}

.service-card__button {
  align-self: flex-start;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.service-card--blue .service-card__button {
  background: $white;
  color: $primary-blue;
  border-color: $white;
}

.service-card--blue .service-card__button:hover {
  background: transparent;
  color: $white;
}

.service-card--gray .service-card__button {
  background: $primary-blue;
  color: $white;
}
