// Colors
$primary-blue: #2F9EEE;

$text-dark: #313131;

$white: #ffffff;

// Typography
$font-family: 'Roboto', sans-serif;

// Container
$container-max-width: 1920px;

// Breakpoints
$breakpoint-lg: 1024px;

// Transitions
$transition: all 0.3s ease;

