@use "fonts";
@use "variables";
@use "common";
@use "components";
@use "breadcrumbs";
@use "swiper";
@use "header";
@use "header-catalog";
@use "hero";
@use "steps";
@use "products";
@use "benefits";
@use "services";
@use "consultation";
@use "examples";
@use "reviews";
@use "catalog";
@use "product";
@use "page";
@use "footer";